#popup {
	position: fixed;
	left: 50px;
	top: 50px;
	width: 200px;
	height: 200px;
	background: red;
	z-index: 1;
}

#gameCanvas {
    image-rendering: optimizeSpeed;
    image-rendering: -moz-crisp-edges;
    image-rendering: -webkit-optimize-contrast;
    image-rendering: optimize-contrast;
    image-rendering: pixelated;
    -ms-interpolation-mode: nearest-neighbor;
    width: 750px;
    height: 1000px;
}