html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

#fps {
	position: fixed;
	right: 0px;
	top: 0px;
	padding-right: 5px;
	padding-left: 5px;
	background: red;
	z-index: 2;
	transform: translateZ(0px);
}

#game {
	padding: 0;
	margin: 0;
	width: 100%;
	height: 100%;
	opacity: 1;
}

#okwidget {
	position: fixed;
	padding: 0;
	margin: 0;
	display: none;
}
